## **Dictionaries**

In [4]:
# A simple Dictionary
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

In [6]:
# Clearing the dictionary
MLB_team.clear()
MLB_team

{}

In [7]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

In [10]:
# "in" and "not in" operator
print('Boston' in MLB_team) # True
print('New York' not in MLB_team) # True
print('Bronx' in MLB_team) # False

True
True
False

In [12]:
# len to get size
len(MLB_team)

5

In [14]:
# "get" method to retrieve value from the key
print(MLB_team.get('Boston'))
print(MLB_team.get('New York'))

Red Sox
None

In [17]:
# list dictionaries in list of tuples
list(MLB_team.items())

[('Colorado', 'Rockies'),
 ('Boston', 'Red Sox'),
 ('Minnesota', 'Twins'),
 ('Milwaukee', 'Brewers'),
 ('Seattle', 'Mariners')]

In [19]:
# list only keys of dict
list(MLB_team.keys())

['Colorado', 'Boston', 'Minnesota', 'Milwaukee', 'Seattle']

In [20]:
# list only valus of dict
list(MLB_team.values())

['Rockies', 'Red Sox', 'Twins', 'Brewers', 'Mariners']

In [21]:
# "pop" method to remove an item using key
removed_value = MLB_team.pop('Boston')
print(removed_value)

Red Sox

In [22]:
# "popitem" method to remove the item added
last_added_item = MLB_team.popitem()
print(last_added_item)

('Seattle', 'Mariners')

In [23]:
# update dictionary using "update" method
MLB_team_updated = {'Boston': 'Red Sox', 'Seattle': 'Mariners'}
MLB_team.update(MLB_team_updated)
list(MLB_team.items())

[('Colorado', 'Rockies'),
 ('Minnesota', 'Twins'),
 ('Milwaukee', 'Brewers'),
 ('Boston', 'Red Sox'),
 ('Seattle', 'Mariners')]

In [11]:
# fromkeys method
keys = ('a', 'b', 'c')
value = [1,2,3]
new_dict = dict.fromkeys(keys, value)
print(new_dict)

{'a': [1, 2, 3], 'b': [1, 2, 3], 'c': [1, 2, 3]}

###**Sets**

In [24]:
# Creating a set using set() function
my_set = set([1, 2, 3, 4, 5])
print( my_set)

# Creating a set using curly braces
another_set = {6, 7, 8, 9, 10}
print(another_set)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}

In [27]:
# add elements to a set using the add() method
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [28]:
# Remove elements from a set using the remove(), discard(), and pop() methods

# remove() - raises KeyError if the element is not found
my_set.remove(6)
print(my_set)

# discard() - does not raise an error if the element is not found
my_set.discard(5)
print(my_set)

# pop() removes and returns an arbitrary element
popped_element = my_set.pop()
print("Popped element:", popped_element)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
Popped element: 1
{2, 3, 4}

In [29]:
# Remove all elements from a set using the clear() method
my_set.clear()
print(my_set)

set()

### Set operations

In [30]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5}

In [34]:
# The intersection() method or & operator can be used to find common elements between two sets
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)
print("Intersection of set1 and set2 using '&' operator:", set1 & set2)

Intersection of set1 and set2: {3}
Intersection of set1 and set2 using '&' operator: {3}

In [36]:
# The difference() method or - operator can be used to find elements that are in one set but not in another
difference_set = set1.difference(set2)
print("Difference of set1 and set2:", difference_set)
print("Difference of set1 and set2 using '-' operator:", set1 - set2)

Difference of set1 and set2: {1, 2}
Difference of set1 and set2 using '-' operator: {1, 2}

In [37]:
# The symmetric_difference() method or ^ operator can be used to find elements that are in either of the sets but not in both
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference of set1 and set2:", symmetric_difference_set)
print("Symmetric difference of set1 and set2 using '^' operator:", set1 ^ set2)

Symmetric difference of set1 and set2: {1, 2, 4, 5}
Symmetric difference of set1 and set2 using '^' operator: {1, 2, 4, 5}

In [38]:
# check if a set is a subset or superset of another set using issubset() and issuperset() methods:
set3 = {1, 2}
print("Is set3 a subset of set1?", set3.issubset(set1))
print("Is set1 a superset of set3?", set1.issuperset(set3))

Is set3 a subset of set1? True
Is set1 a superset of set3? True